---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #164F86;
}

a {
    #color: #729ED0;
    color: #157c77;
}

td a {
    color: #159957;
}