---
---

@import "{{ site.theme }}";

:root {
    --text: #606c71

    --comment: #696969;
    --red: #d91e18;
    --orange: #aa5d00;
    --yellow: #aa5d00;
    --green: #159c95;
    --blue: #007faa;
    --border-blue: #007faa;
    --purple: #7928a1;
    --block-bg: #fefefe;
    --block-fg: #606c71;
    --main-title: #ffffff;

}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #606c71

        --comment: #d4d0ab;
        --red: #ffa07a;
        --orange: #f5ab35;
        --yellow: #ffd700;
        --green: #159957;
        --blue: #729ED0;
        --border-blue: #007faa;
        --purple: #dcc6e0;
        --block-bg: #2b2b2b;
        --block-fg: #dcdee0;
        --main-title: #000000;
    }
}
/* Comment * /
.hljs-comment,
.hljs-quote {
  color: var(--comment);

  hellgrau: #819198
}
*/
body {
    color: var(--block-fg);
    background-color: var(--block-bg);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: var(--blue);
}

a {
    color: #159c95;
}

td a {
    color: var(--green);
}

h1.project-name {
    color: var(--main-title);
}

.main-content table th, .main-content table td {
    border-color: var(--border-blue);
    }